{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! Everything inside the #post tags pulls data from the post }}

{{#post}}
<link rel="stylesheet" type="text/css" href="{{asset "css/prism.css"}}" />
<script type="text/javascript" src="{{asset "js/prism.js"}}"></script>

{{> "header"}}

<main id="content" class="content" role="main">
    <div id="article" class="box {{#if image}}has-image{{/if}}">
        {{#if image}}
        <div class="image-wrapper">
            <img src="{{image}}" class="post-image"/>
        </div>
        {{/if}}
        
    <article class="{{post_class}}">

        <header class="post-header">
            <h1 class="post-title">{{title}}</h1>
        </header>

        <section class="post-content">
            {{content}}
        </section>
    </article>
</div>

<div id="sidebar">{{> "sidebar"}}</div>
</main>
{{/post}}