{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! Everything inside the #post tags pulls data from the post }}

{{#post}}
<link rel="stylesheet" type="text/css" href="{{asset "css/prism.css"}}" />
<script type="text/javascript" src="{{asset "js/prism.js"}}"></script>

{{> "header"}}

<main id="content" class="content" role="main">

<div class="ad ad-banner-post">
  <iframe class="adsterra-banner-728" src="{{asset "html/ad-criteo-728-90.html"}}"></iframe>
</div>

    <div id="article" class="box {{#if image}}has-image{{/if}}">
    <article class="{{post_class}}">

        <header class="post-header">
            <h1 class="post-title">{{title}}</h1>
            <section class="post-meta">
                <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time>
            </section>
        </header>

        <section class="post-content">
            {{content}}
        </section>


        <footer class="post-footer">
            <section class="author">
                <div class="author-meta">
                </div>
            </section>

            <section class="share">
                <h4>Share this post</h4>
                <a class="fa fa-twitter" href="https://twitter.com/share?text={{encode title}}&amp;url={{url absolute="true"}}"
                    onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
                    <span class="hidden">Twitter</span>
                </a>
                <a class="fa fa-facebook" href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}"
                    onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
                    <span class="hidden">Facebook</span>
                </a>
                <a class="fa fa-google" href="https://plus.google.com/share?url={{url absolute="true"}}"
                   onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
                    <span class="hidden">Google+</span>
                </a>
            </section>

        </footer>

        <div class="fb-comments" data-href="{{@blog.url}}{{url}}" data-numposts="5" data-width="100%"></div>

        <!-- MarketGidComposite Start -->
        <div id="MarketGidScriptRootC32243">
           <div id="MarketGidPreloadC32243">
               <a id="mg_add32243" href="http://mgid.com/advertisers/?utm_source=widget&utm_medium=text&utm_campaign=add" target="_blank">Place your ad here</a><br>        <a href="http://mgid.com/" target="_blank">Loading...</a>    
           </div>
           <script>
                       window.MGWidgetTitle32243 = "Promoted Content";        (function(){
                   var D=new Date(),d=document,b='body',ce='createElement',ac='appendChild',st='style',ds='display',n='none',gi='getElementById';
                   var i=d[ce]('iframe');i[st][ds]=n;d[gi]("MarketGidScriptRootC32243")[ac](i);try{var iw=i.contentWindow.document;iw.open();iw.writeln("<ht"+"ml><bo"+"dy></bo"+"dy></ht"+"ml>");iw.close();var c=iw[b];}
                   catch(e){var iw=d;var c=d[gi]("MarketGidScriptRootC32243");}var dv=iw[ce]('div');dv.id="MG_ID";dv[st][ds]=n;dv.innerHTML=32243;c[ac](dv);
                   var s=iw[ce]('script');s.async='async';s.defer='defer';s.charset='utf-8';s.src="//jsc.mgid.com/s/i/siz.io.32243.js?t="+D.getYear()+D.getMonth()+D.getDate()+D.getHours();c[ac](s);})();
           </script>
        </div>
        <!-- MarketGidComposite End -->
        
        <!-- MarketGidComposite Start -->
        <div id="MarketGidScriptRootC32245">
           <div id="MarketGidPreloadC32245">
               <a id="mg_add32245" href="http://mgid.com/advertisers/?utm_source=widget&utm_medium=text&utm_campaign=add" target="_blank">Place your ad here</a><br>        <a href="http://mgid.com/" target="_blank">Loading...</a>    
           </div>
           <script>
                       window.MGWidgetTitle32245 = "Promoted Content";        (function(){
                   var D=new Date(),d=document,b='body',ce='createElement',ac='appendChild',st='style',ds='display',n='none',gi='getElementById';
                   var i=d[ce]('iframe');i[st][ds]=n;d[gi]("MarketGidScriptRootC32245")[ac](i);try{var iw=i.contentWindow.document;iw.open();iw.writeln("<ht"+"ml><bo"+"dy></bo"+"dy></ht"+"ml>");iw.close();var c=iw[b];}
                   catch(e){var iw=d;var c=d[gi]("MarketGidScriptRootC32245");}var dv=iw[ce]('div');dv.id="MG_ID";dv[st][ds]=n;dv.innerHTML=32245;c[ac](dv);
                   var s=iw[ce]('script');s.async='async';s.defer='defer';s.charset='utf-8';s.src="//jsc.mgid.com/s/i/siz.io.32245.js?t="+D.getYear()+D.getMonth()+D.getDate()+D.getHours();c[ac](s);})();
           </script>
        </div>
        <!-- MarketGidComposite End -->
    </article>

</div>

<div id="sidebar">{{> "sidebar"}}</div>

</main>

<div class="ad ad-banner-bottom">
  <iframe class="criteo-banner-728" src="{{asset "html/ad-criteo-728-90.html"}}"></iframe>
</div>

{{/post}}