
<div class="sidebox box social clearfix">
  <ul>
    <a href="https://www.facebook.com/siz.io" target="_blank" class="social-item fb"><li><i class="fa fa-facebook"></i></li></a>
    
    <a href="https://twitter.com/siz_io" target="_blank" class="social-item tw"><li><i class="fa fa-twitter"></i></li></a>
        
    <a href="/rss" target="_blank" class="social-item rss"><li><i class="fa fa-rss"></i></li></a>

    <a href="/" class="social-item home"><li><i class="fa fa-home"></i></li></a>
  </ul>

</div>


<div class="box sidebox latest-articles">
  <div class="sidebox-title">Most Popular</div>
  <div class="most">
    {{#foreach posts}}
      {{#if featured}}
      <a class="article-link" href="{{url}}">
        {{#if image}}
            <section class="post-image" style="background-image:url({{image}})"></section>
        {{/if}}
        <header class="post-header">
            <h2 class="post-title">{{{title}}}</h2>
        </header>
        <section class="post-excerpt">
       <p>{{excerpt words="26"}}</p>
        </section>
        
        <footer class="post-meta">
            <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time>
        </footer>
      </a>
      {{/if}}
    {{/foreach}}
  </div>
</div>


<div class="box sidebox latest-articles">
  <div class="sidebox-title">Latest Articles</div>
  <div class="sidebox-content loading">
    <div class="loader">
    </div>
  </div>
</div>

<div class="box sidebox about">
  <div class="sidebox-title">About</div>
  <div class="sidebox-content">
    <p>{{@blog.description}}</p>
  </div>
</div>
