<div class="sidebox box social clearfix">
  <ul>
    <a href="https://www.facebook.com/siz.io" target="_blank" class="social-item fb"><li><i class="fa fa-facebook"></i></li></a>
    
    <a href="https://twitter.com/siz_io" target="_blank" class="social-item tw"><li><i class="fa fa-twitter"></i></li></a>
        
    <a href="/rss" target="_blank" class="social-item rss"><li><i class="fa fa-rss"></i></li></a>

    <a href="/" class="social-item home"><li><i class="fa fa-home"></i></li></a>
  </ul>
</div>

{{#if posts}}
  <div class="box sidebox latest-articles">
    <div class="sidebox-title">Most Popular</div>
    <div class="most">
      {{#foreach posts}}
        {{#if featured}}
          <a class="article-link" href="{{url}}">
            <div class="date">{{date format="DD MMMM YYYY"}}</div>
            <div id="thumb-container"><img src="{{image}}" class="thumb" /></div>
            <header class="post-header">
              <h2 class="featured-post-title">{{{title}}}</h2>
            </header>
          </a>
        {{/if}}
      {{/foreach}}
    </div>
  </div>
{{/if}}

<div class="ad ad-banner-sidebar">
  <iframe class="adsterra-banner-sidebar" src="{{asset "html/ad-adsterra-banner-300.html"}}"></iframe>
</div>

<div class="box sidebox latest-articles">
  <div class="sidebox-title">Latest Articles</div>
  <div class="sidebox-content loading">
    <div class="loader">
    </div>
  </div>
</div>

<div class="box sidebox about">
  <div class="sidebox-title">About</div>
  <div class="sidebox-content">
    <p>{{@blog.description}}</p>
  </div>
</div>
